
.todoItem {
	border: 1px solid black;
	width: 80%;
	padding: 16px;
	margin: 5px auto;
	list-style: none;
	text-align: left;
	overflow: auto;
}

.finished {
	text-decoration: line-through;
	background-color: #ccc;
}
